@mixin chartHeaderBg() {
  background: linear-gradient(to right, #00000030, #ffffff05, #00000000);
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}