$color-white: #eaf6ff;
$color-light-black: #232528;
$color-black: #000000;
$color-blue: #2A2A72;
$color-light-blue: #009FFD;
$color-yellow: #FFA400;

$font-size-small: 8px;
$font-size-medium: 12px;
$font-size-large: 16px;
$font-size-maximum: 22px;

$container-max-width-small: 600px;
$container-max-width-medium: 900px;
$container-max-width-large: 1500px;
$container-max-width-maximum: 2000px;