$color-white: #ffffff;
$color-black: #000000;

$color-white-opacity: #ffffff55;

$font-size-small: 8px;
$font-size-medium: 12px;
$font-size-large: 16px;
$font-size-maximum: 22px;

$content-header-font-size: 21px;