@import '../../styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 42px 140px 28px 140px;

  border-bottom: 1px solid rgba(255, 255, 255, .5);

  &__element {
    position: relative;

    text-transform: uppercase;
    color: $color-white;

    pointer-events: auto;
    cursor: pointer;

    &:hover::before,
    &_active::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;

      width: 100%;
      height: 1px;

      background-color: $color-white;
    }
  }
}