@import '../../styles/vars';
@import '../../styles/mixins';

.home {
  &-loading {
    display: inline-block;
    @include absoluteCenter();
    width: 150px;
    height: 150px;

    &__ring {
      position: absolute;
      border: 4px solid $color-white;
      opacity: 1;
      border-radius: 50%;
      animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
  }

  &-content {
    padding: 80px 120px;
  }
}

@keyframes loading {
  0% {
    top: 75px;
    left: 75px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}