@import '../../styles/vars';
@import '../../styles/mixins';

.home-songs {
  display: flex;
  flex-direction: column;

  transition: opacity .2s;

  &_hidden {
    @extend .home-songs;
    opacity: 0;
  }

  &__name {
    font-size: $font-size-maximum;
    font-weight: 700;
    text-transform: capitalize;
  }

  &-description {
    font-size: $font-size-medium;

    &__artist {
      margin-bottom: 15px;

      color: #ffffff;
      font-size: $font-size-large;
      font-weight: 700;
      opacity: .5;

      transition: opacity .2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}