@import '../../styles/vars';
@import '../../styles/mixins';

.header-player {
  display: flex;
  align-items: center;

  &__thumb {
    @include square(80px);
    margin-right: 25px;
  }

  &-track {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80px;

    &-info {
      display: flex;
      flex-direction: column;
      font-weight: 300;

      &__artist {
        font-weight: 500;
      }
    }

    &-player {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      padding-bottom: 10px;

      &__bar {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 2px;

        background-color: rgba(255, 255, 255, .5);

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;

          background-color: $color-white;
          width: 60%;
          height: 100%;
        }
      }
    }
  }
}